<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Recuperar Contraseña</h3>

      <p class="text-center">Ingrese su dirección de correo electrónico para solicitar un restablecimiento de contraseña.</p>

      <div class="formGroup">
        <div class="col-md-6 col-sm-12">
          <i class="fas fa-envelope iconoInput"></i>
        <input type="email" class="formControl inputPadding" placeholder="Email" #passwordResetEmail required>
      </div>
    </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Recuperar Contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Regresar ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>

  </div>
</div>