/* estilos al navbar */
.we-navbar{
    position: absolute;
    width: 100%;
    background: rgba(149,148,149,255);
    /* sombra al navbar */
    /* box-showdow: x y dispercion tamaño*/
    box-shadow: 0px 2px 4px 0px black;
}
.logo{
    float: right;
    width: 55px;
    height: 55px;
}
/* estilos al sidebar */
.we-sidebar{
    position: absolute;
    background: rgba(142,152,146,255);
    /* box-showdow: x y dispercion tamaño*/
    box-shadow: 1px 0px 4px 0px black;
    height: 100%;
}

ul, ol, li{
    list-style: none;
    padding: 0px;
}

.options{
    width: 100%;
    position: relative;
    /* border: 1px solid black; */
    top: 50px;
}

/* tamaño para los iconos fa-xs fa-sm fa-lg fa-2x fa-3x fa-4x fa-5x fa-10x */
i{
    color: white;
    padding: 10px;
    width: 30%;
    text-align: center;
}
.menu{
    display: flex;
    align-items: center;
    font-size: large;
}
.menu:hover{
    background: rgb(185, 184, 184);
    border-radius: 0px 0px 20px 0px;
    margin-left: 20px;
    cursor: pointer;
}

.submenu{
    padding-left: 60px;
}

.x:hover{
    background: rgb(185, 184, 184);
    border-radius: 0px 0px 20px 0px;
    margin-left: 20px;
    cursor: pointer;
}


