<div class="wrapper">
  <div class="sidebar">
    <h2>fit crm</h2>
    <ul>
      <!-- Divisor -->
      <hr class="sidebar-divider my-0">
  
      <!-- Dashboard -->
      <li >
        <a  (click)=" godashboard()">
          <i class="fas fa-1x fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
  
      <!-- Divisor -->
      <hr class="sidebar-divider my-0">
  
      <!-- Whatsapp -->
      <li >
          <a (click)="goWhats()">
            <i class="fab fa-whatsapp fa-1x"></i>
            Whatsapp
          </a>
      </li>
      <!-- Notifications -->
      <li>
        <a (click)="goNotify()">
          <i class="far fa-bell fa-1x"></i>
          Notificaiones
        </a>
      </li>
      <!-- Phone -->
      <li>
          <a (click)="goClients()">
            <i class="fas fa-users fa-1x"></i>
            Clientes
          </a>
      </li>
      <!-- reports -->
      <li>
        <a>
          <i class="fas fa-chart-bar fa-1x"></i>
          Reportes
        </a>

      </li>
  
      <!-- Divisor -->
      <hr class="sidebar-divider my-0">
  
      <!-- settings -->
      <li>
        <div data-bs-toggle="collapse" data-bs-target="#setting-collapse">
          <i class="fas fa-cog fa-1x"></i>
          Configuración
        </div>
        <div class="submenu collapse show" id="setting-collapse">
          <ul>
            <li (click)="goPerfil()"><a><i class="fas fa-user"></i>Mi perfil</a></li>
            <li ><a><i class="far fa-question-circle"></i>ayuda</a></li>
            <li >
              <a (click)="authService.SignOut()" (click)="logout()">
                <i class="fas fa-sign-out-alt fa-1x"></i>Salir
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <!-- navbar -->
  <div class="main_content">
    <div class="header">
      Bienvenido
        <a>
          <img class="logo" src="../../../assets/logo/logo.jpg">
        </a>
    </div>
  </div>
</div>
