<nav class="we-navbar">
  <div class="logo">
    <a (click)="godashboard()" class="d-flex align-items-center text-decoration-none">
      <img class="logo" src="../../../assets/logo/logo.jpg">
    </a>
  </div>
</nav>

<div class="we-sidebar p-3 " style="width: 220px;">
  <div class="options">
    <ul>
      <!-- Whatsapp -->
      <li>
        <div class="menu">
          <i class="fab fa-whatsapp fa-2x"></i>
          Whatsapp
        </div>
      </li>
      <!-- Notifications -->
      <li>
        <div class="menu">
          <i class="far fa-bell fa-2x"></i>
          Notificaiones
        </div>
      </li>
      <!-- chat -->

      <li>
        <div class="menu">
          <i class="far fa-comments fa-2x"></i>
          Chat
        </div>
      </li>
      <!-- Phone -->
      <li>
        <div class="menu">
          <a (click)="goClients()">
            <i class="fas fa-users fa-2x"></i>
            Clientes
          </a>
        </div>
      </li>
      <!-- reports -->
      <li>
        <div class="menu">
          <i class="fas fa-chart-bar fa-2x"></i>
          Reportes
        </div>
      </li>
      <!-- settings -->
      <li>
        <div class="menu" data-bs-toggle="collapse" data-bs-target="#setting-collapse">
          <i class="fas fa-cog fa-2x"></i>
          Configuración
        </div>
        <div class="submenu collapse show" id="setting-collapse">
          <ul>
            <li class="x" (click)="goPerfil()"><a><i class="fas fa-user"></i>Mi perfil</a></li>
            <li class="x"><a><i class="fas fa-calculator"></i>Estado de la cuenta</a></li>
            <li class="x"><a><i class="far fa-question-circle"></i>ayuda</a></li>
            <li class="x">
              <a (click)="authService.SignOut()" (click)="logout()">
                <i class="fas fa-sign-out-alt fa-1x"></i>Salir
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- salir -->
    </ul>
  </div>
</div>